In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/kaggle/input/zomato-small-dataset/zomato_restaurants_data_small_datset.csv')

In [3]:
df.shape

(7105, 12)

In [4]:
df

,Unnamed: 0.1,Unnamed: 0,restaurant name,restaurant type,rate (out of 5),num of ratings,avg cost (two people),online_order,table booking,cuisines type,area,local address
0,0,0,#FeelTheROLL,Quick Bites,3.4,7,200.0,No,No,Fast Food,Bellandur,Bellandur
1,1,1,#L-81 Cafe,Quick Bites,3.9,48,400.0,Yes,No,"Fast Food, Beverages","Byresandra,Tavarekere,Madiwala",HSR
2,2,2,#refuel,Cafe,3.7,37,400.0,Yes,No,"Cafe, Beverages",Bannerghatta Road,Bannerghatta Road
3,3,3,'@ Biryani Central,Casual Dining,2.7,135,550.0,Yes,No,"Biryani, Mughlai, Chinese",Marathahalli,Marathahalli
4,4,4,'@ The Bbq,Casual Dining,2.8,40,700.0,Yes,No,"BBQ, Continental, North Indian, Chinese, Bever...",Bellandur,Bellandur
...,...,...,...,...,...,...,...,...,...,...,...,...
7100,7100,7100,Zoey's,Cafe,4.3,894,600.0,Yes,No,"Cafe, Italian, Continental, Burger",Bellandur,Sarjapur Road
7101,7101,7101,ZOROY Luxury Chocolate,Dessert Parlor,4.0,68,250.0,Yes,No,Desserts,Brigade Road,Church Street
7102,7102,7102,Zu's Doner Kebaps,"Takeaway, Delivery",3.7,33,350.0,No,No,"Turkish, Fast Food, Biryani, Chinese",Malleshwaram,RT Nagar
7103,7103,7103,Zyara,Casual Dining,3.8,191,650.0,Yes,No,"North Indian, Mughlai, Chinese",Kammanahalli,HBR Layout
7104,7104,7104,Zyksha,Food Truck,3.4,9,200.0,No,No,Fast Food,Bannerghatta Road,South Bangalore

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7105 entries, 0 to 7104
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0.1           7105 non-null   int64
 1   Unnamed: 0             7105 non-null   int64
 2   restaurant name        7105 non-null   object
 3   restaurant type        7105 non-null   object
 4   rate (out of 5)        7037 non-null   float64
 5   num of ratings         7105 non-null   int64
 6   avg cost (two people)  7048 non-null   float64
 7   online_order           7105 non-null   object
 8   table booking          7105 non-null   object
 9   cuisines type          7105 non-null   object
 10  area                   7105 non-null   object
 11  local address          7105 non-null   object
dtypes: float64(2), int64(3), object(7)
memory usage: 666.2+ KB

In [6]:
df1=df.drop(columns=['Unnamed: 0.1','Unnamed: 0'],axis=1)

In [8]:
df.isnull().sum()

Unnamed: 0.1              0
Unnamed: 0                0
restaurant name           0
restaurant type           0
rate (out of 5)          68
num of ratings            0
avg cost (two people)    57
online_order              0
table booking             0
cuisines type             0
area                      0
local address             0
dtype: int64

In [9]:
(df.isin(['NA', 'N/A', '-','Unknown'])).sum()

Unnamed: 0.1             0
Unnamed: 0               0
restaurant name          0
restaurant type          0
rate (out of 5)          0
num of ratings           0
avg cost (two people)    0
online_order             0
table booking            0
cuisines type            0
area                     0
local address            0
dtype: int64

In [10]:
(df==' ').sum()

Unnamed: 0.1             0
Unnamed: 0               0
restaurant name          0
restaurant type          0
rate (out of 5)          0
num of ratings           0
avg cost (two people)    0
online_order             0
table booking            0
cuisines type            0
area                     0
local address            0
dtype: int64

In [11]:
df1=df1[~df1['rate (out of 5)'].isna()]

In [12]:
df1=df1[~df1['avg cost (two people)'].isna()]

In [13]:
df1.shape

(6984, 10)

In [14]:
df1.describe()

       rate (out of 5)  num of ratings  avg cost (two people)
count      6984.000000     6984.000000            6984.000000
mean          3.514304      190.928837             542.544244
std           0.463489      596.717894             464.266828
min           1.800000        1.000000              40.000000
25%           3.200000       15.000000             300.000000
50%           3.500000       40.000000             400.000000
75%           3.800000      130.000000             600.000000
max           4.900000    16345.000000            6000.000000

In [16]:
import pandas as pd
from scipy import stats


ratings_yes_online = df1[df1['online_order'] == 'Yes']['rate (out of 5)'].dropna()
ratings_no_online = df1[df1['online_order'] == 'No']['rate (out of 5)'].dropna()

# Perform independent two-sample t-test
t_stat_online, p_value_online = stats.ttest_ind(ratings_yes_online, ratings_no_online)

print(f"T-statistic: {t_stat_online}")
print(f"P-value: {p_value_online}")
if p_value_online < 0.05:
    print("Significant difference between groups.")
else:
    print("No significant difference between groups.")

T-statistic: 7.280383097398607
P-value: 3.6929725541676036e-13
Significant difference between groups.

In [17]:

ratings_yes_booking = df1[df1['table booking'] == 'Yes']['rate (out of 5)'].dropna()
ratings_no_booking = df1[df1['table booking'] == 'No']['rate (out of 5)'].dropna()

# Perform independent two-sample t-test
t_stat_booking, p_value_booking = stats.ttest_ind(ratings_yes_booking, ratings_no_booking)

print(f"T-statistic: {t_stat_booking}")
print(f"P-value: {p_value_booking}")
if p_value_booking < 0.05:
    print("Significant difference between groups.")
else:
    print("No significant difference between groups.")

T-statistic: 35.251780593399
P-value: 1.1006709806536697e-250
Significant difference between groups.

In [18]:
# Pearson correlation
corr_coeff, p_value = stats.pearsonr(df1['avg cost (two people)'], df1['rate (out of 5)'])

print(f"Correlation Coefficient: {corr_coeff}")
print(f"P-value: {p_value}")

Correlation Coefficient: 0.3759159585731128
P-value: 2.6448431819920104e-233